@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
    z-index: auto;
    background-color: purple;   
}

.container {
    height: 100vh;
    padding : 30px;   
}

.primary {
    padding: 3%;
    height: 100%;
    border-radius: 15px;
    border-width: 5px;
    background-color: #FFE4E1;
    box-shadow:1px 1px 1px 1px #696969;

} 

.nav-pills .nav-link.active {
  background-color :purple;
}
 
 a {
  color : purple;
}

.navbar {
  padding-bottom: 20px;
}

.list-group {
  width: 300px;
}

.inset-text-effect {
text-align: center;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 30px/1 "Aladin", Helvetica, sans-serif;
  color: rgba(48,48,48,1);
  text-align: center;
  text-transform: normal;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
}
 
